.img {
    position: relative;
    width: 100%;
    z-index: -1;
}
.quienes-somos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, white,#40a4bc);
}

.title {
  font-size: 36px;
  margin-top: 0px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  width: 80%; /* Aumentamos el ancho para acercar los contenedores a los bordes laterales */
  height: 50vh;
  margin-top: 20px;
}

.left-info, .right-info {
  width: 48%;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
  margin: 10px; /* Añadimos un margen para separar los contenedores */
  margin-left: 0; /* Eliminamos el margen izquierdo para acercar al borde izquierdo */
  margin-right: 0; /* Eliminamos el margen derecho para acercar al borde derecho */
}

.left-info {
  text-align: left;
}

.right-info {
  text-align: right;
}
.contenedor {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #40a4bc;
  }
  
  .equipo {
    width: 200px;
    padding: 20px;
    text-align: center;
    border-radius: 1rem;
    background-color: #d6853ffd;
  }
  
  .equipo h2 {
    margin-bottom: 10px;
  }
  
  .equipo p {
    font-size: 14px;
  }

.logo {
    position: flex;
    width: 8rem;
    left: 0;
}

/* Estilo base del botón */
.mi-boton {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Estilo cuando se coloca el cursor sobre el botón */
  .mi-boton:hover {
    background-color: #2980b9;
  }
  
  /* Estilo cuando se presiona el botón */
  .mi-boton:active {
    background-color: #2074a0;
  }
  