
.acordeon-container {
    max-width: 60rem;
    margin:  auto;
    margin-top: 2rem;
  }
  
  .acordeon {
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid #cccccc7e;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  
  .acordeon-title {
    font-size: 18px;
    color: #333;
    padding: 10px;
    cursor: pointer;
    background-color: #f9f9f9;
  }
  
  .acordeon-content {
    font-size: 16px;
    color: #666;
    padding: 10px; /* Cambié el valor del padding para que sea más razonable */
    overflow: hidden;
    transition: max-height 1s ease-in-out; /* Aumenté la duración de la transición */
  }
  
  .acordeon.open .acordeon-content {
    max-height: 1000px; /* Un valor grande para asegurarse de que el contenido se muestre completamente */
  }
  
  
  