* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-links a {
  color: black;
}


.logo {
  width: 15rem;
  position: relative;
  left: 3rem;
}


.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #40a3bc8f;
  border-radius: 5px;
  transition:  ease;
}

.menu li {
  padding: 5px 14px; 
  
}


.services {
  position: relative;

}

.dropdown {
  background-color: #40a3bc8f;
  padding: 0.5rem 0rem;
  position: absolute; 
  display: none;
  border-radius:8px ;
  left: 0;
  width: 10.4rem;
  animation-name: aparecer;
  animation-duration: 1s;
  animation-timing-function:  ease; 
  animation-fill-mode: forwards; 
  opacity: 0; 
  transform: translateY(4rem);
}



@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  from {
    top: 0;
  }
  to {
    top: -1.6rem; 
  }
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1rem;
  width: 10.4rem;
  text-align: center;
}

.dropdown li:hover {
  background-color: #40a3bc31;
}

.services:hover .dropdown {
  display: block;
}


input[type=checkbox] {
    display: none;
  } 
  
 
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
  
  
  @media (max-width: 768px) {
   .menu {
      display:none;
      position: absolute;
      background-color:teal;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
  
    .menu li:hover {
      display: inline-block;
      background-color:#4c9e9e;
      transition: 0.3s ease;
    }
  
    .menu li + li {
      margin-top: 12px;
    }
  
    input[type=checkbox]:checked ~ .menu {
      display: block;
    }
  
    .hamburger {
      display: block;
    }
  
    .dropdown {
      left: 50%;
      top: 30px;
      transform: translateX(35%);
    }
  
    .dropdown li:hover {
      background-color: #4c9e9e;
    }
  }